﻿@using QuestApp.Models

@{
    ViewData["Title"] = "About";
}
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"></script>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
   
                       
</div>
</div>
